@charset "utf-8";

/*
section {
    margin-left: calc(var(--margin-left-section) * -1);
    padding: 30% var(--right-fix) 5px 0;
    text-align: right;
    background: linear-gradient(green, grey), var(--medium-dark-color), linear-gradient(90deg, #D9040200, var(--light-color)), no-repeat url("immagini/sfondo.jpg");
    background: no-repeat url("immagini/sfondo.jpg") ;
    background: var(--medium-dark-color);
}
*/

section > header + div{
    border-radius: 2em 0 0 0;
}


section h3 {
    margin-top: 30px;
    padding: 0;
}



/*
section div, main div{
    
background: #FFFFFF;
    padding: 1em 3em;
}
*/


