@charset "utf-8"; /* CSS Document */

@import "../lezione 9 pratica/regoleh1.css";


#zen-intro header {
	margin: 50px 100px auto 100px;
 border-style: solid;
	 border-color: red;
	border-width: 5px;
}
abbr[title] {
    text-decoration: unset;
}


header {
	padding-left: 30px;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background-image: linear-gradient(black, white);
	background-clip: padding-box;
	
}

html {
	
	padding: 100px;
	background-color: white;
	
	
}


body {
	
	border-radius: 25% 25% 0 0;
	margin: 50px 100px;
	border: 50px 100px;
	padding: 50px 100px;
	content: 50px 100px;
	background-color: aqua;
	background-image: url("../media/foto1.png"),
						linear-gradient(-45deg, #B7CEE2, #58575F, #534645, #7D8243,#4C5561);
					
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: scroll;
	border-width: 5px;
	border-style: double;
	background-clip: padding-box;
	
}

p {margin: 50px 100px;	
	border-color: green;
	border-width: 5px;
	border-style: dotted;
	background-image: linear-gradient(red, blue);
}

#par1 {margin: 50px 100px;
	background-image: url("../media/DJI0133.JPG");
	border-color: yellow;
	border-radius: 50% 50% 0% 0%;
	border-style: solid;
padding-top: 100px;
	
}

#par2 {margin: 50px 100px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
	background-color: red;
}

#div3 {background-clip: content-box url("../media/videoelma.mp4")}
