@charset "utf-8"; /* CSS Document */

@import "regoleh1.css";


#zen-intro header {
	margin: 50px 100px auto 100px;
 border-style: solid;
	 border-color: red;
	border-width: 5px;
}
abbr[title] {
    text-decoration: unset;
}

/*
body {
	
	margin: 50px 100px;
	background-image: url("../media/foto.jpg");
	border-width: 5px;
	border-style: double
}
*/


/*questo container è per la prova immagini*/
/*
.container
		{width: 500px;
			height: 150px;
              margin: 0 auto;
            border: dashed 1px #FF0000;
						}
*/

/*questo container è per i div */

.container > div {
            
            border: 1px solid #FF0000;
            float: left;
            
            }
        
        #div1 {
            
            width: 70%;
            
        }
        

	

p {margin: 50px 100px;	
	border-color: green;
	border-width: 5px;
	border-style: dotted
}

#par1 {margin: 50px 100px;
	background-image: 500px  url("../media/DJI0133.JPG");
	border-color: yellow;
	border-radius: 50% 50% 0% 0%;
	border-style: solid;
padding-top: 100px;
	
}

#par2 {margin: 50px 100px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
	background-color: red;
}
